@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7faff;
  color: #333;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #00acc1;
}

button {
  cursor: pointer;
}