.log-title {
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem 0 1rem;
  font-weight: 600;
}

.log-table {
  width: 100%;
  overflow-x: auto;
  border-radius: 8px;
  background: #fff;
}

.log-table th {
  font-size: 1.1rem;
  font-weight: 600;
  /* Render headers in normal case */
  text-transform: none;
  padding: 0.75rem 1rem;
  background-color: #f5f5f5;
}

.log-table td {
  padding: 0.75rem 1rem;
}